
/***** BASE STYLES *****/

html {
	font-size: 14px;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: hsl(228, 12%, 48%);
	background-color: hsl(30, 38%, 92%);
	font-size:1em;
	display: flex;
    justify-content: center;
    align-items: center;
	flex-flow: row wrap;
	font-weight: 500;
	line-height: 1em;
	
}

.content-wrapper {
	display: flex;
    justify-content: center;
    align-items: center;
	flex-flow: row wrap;
	max-width: 375px;
	width: 90%;
	margin: 20px 30px;
    border-radius: 30px;
	background-color: hsl(0, 0%, 100%);

}

img {
    border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width: 100%;
}
/***** HEADER *****/
	 
header {
	padding: 10px 0px;
}

h2 {
	font-size: .875em;
	text-transform:uppercase;
	letter-spacing: .875em;
}

h1 {
	font-family: 'Fraunces', serif;
	font-weight: 700;
	color: hsl(212, 21%, 14%);
	line-height: 1em;
	margin: 0;
}
	 
/********** MAIN********/

main {
	padding: 10px 20px;
}


.product-description {
	line-height: 1.5em;
	margin: 0;

}

.price {
	display: flex;
    justify-content: space-around;
    align-items: center;
	align-content: flex-start;
	
}

.sale-price {
	font-family: 'Fraunces', serif;
	font-size: 2em;
	color: hsl(158, 36%, 37%);
	font-weight: 700;
}

.actual-price {
	text-decoration: line-through;
}

button {
	background-color: hsl(158, 36%, 37%);
    border-radius: 10px;
	width: 85%;
	display: flex;
    align-items: center;
	justify-content: center;
	margin: 0;
	
}

.cart-text {
	color: hsl(0, 0%, 100%);
	padding: 15px 15px;
	margin: 0;
	
}

figure {
	width: 15px;
    height: 15px;
	margin: 0;
	padding: 15px 15px;
}

/********** FOOTER********/

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media (min-width:640px) {
	/*Tablet styles here*/
body {
    margin: 0;
        background-color: hsl(30, 38%, 92%);
}
.content-wrapper {
	margin: 0 ;
	margin-top: 150px;
	margin-bottom: 10px;
	background-color: hsl(0, 0%, 100%);
	width: 600px;
	height: 446px;
	border-radius: 15px;
	display: flex;
	flex-direction: row;

}

}

@media only screen and (min-width:1200px) {
		/*Desktop styles here*/

.content-wrapper {
	max-width: 1440px;
	flex-direction: row;
	display: flex;

}



}