/***** BASE STYLES *****/

body {
	font-family: 'Montserrat', sans-serif;
	color: hsl(228, 12%, 48%);
	background-color: hsl(30, 38%, 92%);
	font-size: 1em;
	font-weight: 500;
	line-height: 1em;
	
}

.content-wrapper {
	width: 375px;
    border-radius: 30px;
	border-radius: 30px;
	background-color: hsl(0, 0%, 100%);

}
/***** HEADER *****/
	 
header {
	margin: 0;
  }
  

h2 {
	font-size: .875em;
	text-transform:uppercase;
	letter-spacing: .875em;
	
}

h1 {
	font-family: 'Fraunces', serif;
	font-weight: 700;
	color: hsl(212, 21%, 14%);
	line-height: 1em;

}
	 
/********** MAIN********/


img {
    border-radius: 15px;
	width: 375px;
}

.product-description {
	line-height: 2em;

}

.sale-price {
	font-family: 'Fraunces', serif;
	font-size: 2em;
	color: hsl(158, 36%, 37%);
	font-weight: 700;
}

.actual-price {
	text-decoration: line-through;
}

.cart-button {
	background-color: hsl(158, 36%, 37%);
	padding: 10px 10px;
    border-radius: 15px;
	width: 85%;
}
.cart-text {
	color: hsl(0, 0%, 100%);
	display: flex;
	justify-content: center;
}

/********** FOOTER********/

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }