
/***** BASE STYLES *****/

html {
	font-size: 14px;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: hsl(228, 12%, 48%);
	background-color: hsl(30, 38%, 92%);
	font-size:1em;
	display: flex;
    justify-content: center;
    align-items: center;
	flex-flow: row wrap;
	font-weight: 500;
	line-height: 1em;
	
}

.content-wrapper {
	display: flex;
    justify-content: center;
    align-items: center;
	flex-flow: row wrap;
	max-width: 375px;
	width: 90%;
	margin: 20px 30px;
    border-radius: 5px;
	background-color: hsl(0, 0%, 100%);

}

.mobile-img {
	display: block;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
}

.desktop-img {
    display: none;
  }

/***** HEADER *****/
	 
header {
	padding: 10px 0px;
}

h2 {
	font-size: .875em;
	text-transform:uppercase;
	letter-spacing: .875em;
}

h1 {
	font-family: 'Fraunces', serif;
	font-weight: 700;
	color: hsl(212, 21%, 14%);
	line-height: 1em;
	margin: 0;
}
	 
/********** MAIN********/

main {
	padding: 10px 20px;
}


.product-description {
	line-height: 1.5em;
	margin: 0;

}

.price {
	display: flex;
	flex-direction: row;
    align-items: center;

}

.sale-price {
	font-family: 'Fraunces', serif;
	font-size: 2em;
	color: hsl(158, 36%, 37%);
	font-weight: 700;
	padding-right: 20px;
}

.actual-price {
	text-decoration: line-through;
}

.button {
	background-color:hsl(158, 36%, 37%);
    padding: 5% 45px;
    width: 100%;
    border-radius: 5px;
    border: none;
    color:hsl(0, 0%, 100%);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
	
}

.button img {
	height: 15px;
	width: 15px;
}

.button-hover {
	background-color:hsl(0, 0%, 100%);
	color:hsl(158, 36%, 37%);
	padding: 5% 45px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-around;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



@media only screen and (min-width:1200px) {
		/*Desktop styles here*/

body {

}

.content-wrapper {
	max-width: 1440px;
	display: flex; 
	flex-flow: row; 
	justify-content: center;
	align-items: center

}

main {
	height: 100%;
}

.desktop-img {
	display: block;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
}

.mobile-img {
	display: none;
  }


}